.editor h1 {
  font-size: 2em;
  font-weight: bold;
}

.editor h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.editor h3 {
  font-size: 1.17em;
  font-weight: bold;
}

.editor h4 {
  font-size: 1em;
  font-weight: bold;
}

.editor h5 {
  font-size: 0.83em;
  font-weight: bold;
}

.editor h6 {
  font-size: 0.67em;
  font-weight: bold;
}
.editor .cdx-search-field__input {
  @apply dark:text-white;
}
.dark .ce-block--selected .ce-block__content,
.dark .ce-inline-toolbar,
.dark .codex-editor--narrow .ce-toolbox,
.dark .ce-conversion-toolbar,
.dark .ce-settings,
.dark .ce-settings__button,
.dark .ce-toolbar__settings-btn,
.dark .cdx-button,
.dark .ce-toolbar__plus:hover {
  @apply bg-background hover:bg-slate-700;
}
.ce-popover {
  @apply bg-background border-[1px];
}
.dark .ce-code__textarea {
  @apply bg-background border shadow-sm text-white;
}
.dark .ce-inline-tool,
.dark .ce-conversion-toolbar__label,
.dark .ce-toolbox__button,
.dark .cdx-settings-button,
.dark .ce-toolbar__plus {
  color: text-white bg-background;
  @apply bg-slate-700 stroke-white;
}
.ce-popover-item {
  @apply dark:text-white;
}
.ce-popover-item:hover {
  @apply dark:bg-slate-700;
}
.ce-popover-item__icon {
  @apply dark:bg-background;
}

.ce-popover {
  @apply dark:bg-background;
  @apply dark:text-white;
}
.dark .ce-popover__item-icon,
.dark .ce-conversion-tool__icon {
  @apply bg-background shadow-sm;
}

.dark .cdx-search-field {
  @apply bg-background text-inherit;
}

.dark ::selection {
  @apply bg-slate-700;
}

.dark .cdx-settings-button:hover,
.dark .ce-settings__button:hover,
.dark .ce-toolbox__button--active,
.dark .ce-toolbox__button:hover,
.dark .cdx-button:hover,
.dark .ce-inline-toolbar__dropdown:hover,
.dark .ce-inline-tool:hover,
.dark .ce-popover__item:hover,
.dark .ce-conversion-tool:hover,
.dark .ce-toolbar__settings-btn:hover {
  @apply bg-slate-700;
  @apply text-white;
}

.dark .cdx-notify--error {
  @apply bg-red-400 text-white;
}

.dark .cdx-notify__cross::after,
.dark .cdx-notify__cross::before {
  background: white;
}
